devika-official-repo
ComfyUIData
ComfyUIData/*
!ComfyUIData/.gitkeep
OllamaData
OpenHandsData
OpenWebUIData
.env
outputs
venv
var
_unsloth_sentencepiece_temp
.webui_secret_key
qdrant-data
OpenWebUIPipelinesData
llama.cpp
jarvis-base
jarvis
_unsloth_temporary_saved_buffers
PostgreSQLData
extra_models
extra_models/*
!extra_models/.gitkeep
install.log
servers.json
n8n_workflows/credentials.json
.idea